<!-- users edit account form start -->
{{ form_start(form, {'action': path('inscription'), 'method': 'POST'}) }}
    {{ form_row(form._token) }}
    <div class="row">
        <div class="col-md-12">
            <div class="mb-1">
                {{ form_errors(form) }}
            </div>
        </div> 

        <div class="col-md-12">
            <div class="mb-1">
                {{ form_label(form.CIF, 'CIF') }}
                {{ form_widget(form.CIF, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-1">
                {{ form_label(form.nombre, 'Nombre') }}
                {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-1">
                {{ form_label(form.email, 'Email') }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div> 
        <div class="col-md-12">
            <div class="mb-1">
                {{ form_label(form.telefono, 'Telefono') }}
                {{ form_widget(form.telefono, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-1">
                {{ form_label(form.provincia, 'Provincia') }}
                {{ form_widget(form.provincia, {'attr':{'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-1">
                {{ form_label(form.condicioneslegales) }}
                {{ form_widget(form.condicioneslegales, {'attr': {'class': 'form-control'}}) }}
                <a href="{{ path('legal') }}">Info</a>
            </div>
        </div>
        
        <div class="col-12 d-flex flex-sm-row flex-column mt-2">
            <button type="submit" class="btn btn-primary mb-1 mb-sm-0 me-0 me-sm-1">Crear</button> 
        </div>
    </div>
{{ form_end(form, {'render_rest': false}) }}
<!-- users edit account form ends -->
