{# \
<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern navbar-floating footer-static" data-open="click" data-menu="vertical-menu-modern" data-col="">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title mb-0">Inscripción</h2>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="content-body">
                <!-- users edit start -->
                <section class="app-user-edit">
                    <div class="card">
                        <div class="card-body">
                            
                            <div class="tab-content">
                                <div class="tab-pane active" id="perfil" aria-labelledby="perfil-tab" role="tabpanel">
                                    <!-- users edit account form start -->
                                    {{ form_start(form, {'action': path('inscription'), 'method': 'POST'}) }}
                                        {{ form_row(form._token) }}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="mb-1">
                                                    {{ form_errors(form) }}
                                                </div>
                                            </div> 

                                            <div class="col-md-12">
                                                <div class="mb-1">
                                                    {{ form_label(form.CIF, 'CIF') }}
                                                    {{ form_widget(form.CIF, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="mb-1">
                                                    {{ form_label(form.nombre, 'Nombre') }}
                                                    {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="mb-1">
                                                    {{ form_label(form.email, 'Email') }}
                                                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div> 
                                            <div class="col-md-12">
                                                <div class="mb-1">
                                                    {{ form_label(form.telefono, 'Teléfono') }}
                                                    {{ form_widget(form.telefono, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="mb-1">
                                                    {{ form_label(form.provincia, 'Província') }}
                                                    {{ form_widget(form.provincia, {'attr':{'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="mb-1">
                                                    {{ form_label(form.condicioneslegales, 'Condiciones Legales') }}
                                                    {{ form_widget(form.condicioneslegales, {'attr': {'class': 'hidden-row'}}) }}
                                                    <a href="{{ path('legal') }}">Info</a>
                                                </div>
                                            </div>
                                            
                                            <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                                <button type="submit" class="btn btn-primary mb-1 mb-sm-0 me-0 me-sm-1">Crear</button> 
                                            </div>


                                        </div>
                                    {{ form_end(form, {'render_rest': false}) }}
                                    <!-- users edit account form ends -->
                                </div>
                            </div>

                            {% if error != null %}
                                <div class="alert alert-danger mt-1" role="alert">
                                    <h4 class="alert-heading">Error</h4>
                                    <div class="alert-body">
                                        El CIF introducido ya existe!
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </section>
                <!-- users edit ends -->
            </div>
        </div>
    </div>
    <!-- END: Content-->
</body> #}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Inscription</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="padding-top: 0rem;">
            <img src="uploads/img/banner-nex.jpg" alt="banner-nex" style="width: 100%; height: 200px;"/>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5" style="position: fixed; margin-top:300px;" style="width: 100%;">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0" style="color: #ffffff;">Inscripción</h2>
                        <hr class="divider" />
                    </div>
                </div>
                <div class="row justify-content-center mb-5" style="position: flex; margin-left:0px; margin-right:0px;">
                    <div class="col-lg-6">
                        <!-- users edit account form start -->
                        {{ form_start(form, {'action': path('inscription'), 'method': 'POST'}) }}
                            {{ form_row(form._token) }}
                                <div class="form-floating mb-3">
                                    <div class="mb-1">
                                        {{ form_errors(form) }}
                                    </div>
                                </div> 

                                <div class="form-floating mb-3">
                                    <div class="mb-1" style="color: #ffffff;">
                                        {{ form_label(form.CIF, 'CIF') }}
                                        {{ form_widget(form.CIF, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <div class="mb-1" style="color: #ffffff;">
                                        {{ form_label(form.nombre, 'Nombre') }}
                                        {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <div class="mb-1" style="color: #ffffff;">
                                        {{ form_label(form.email, 'Email') }}
                                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div> 
                                <div class="form-floating mb-3">
                                    <div class="mb-1" style="color: #ffffff;">
                                        {{ form_label(form.telefono, 'Teléfono') }}
                                        {{ form_widget(form.telefono, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <div class="mb-1" style="color: #ffffff;">
                                        {{ form_label(form.provincia, 'Província') }}
                                        {{ form_widget(form.provincia, {'attr':{'class': 'form-control'}}) }}
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <div class="mb-1" style="color: #ffffff;">
                                        {{ form_label(form.condicioneslegales, 'Condiciones Legales') }}
                                        {{ form_widget(form.condicioneslegales, {'attr': {'class': 'hidden-row'}}) }}
                                        <a href="{{ path('legal') }}">Info</a>
                                    </div>
                                </div>
                                
                                <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                    <button type="submit" class="btn btn-primary mb-1 mb-sm-0 me-0 me-sm-1">Crear</button> 
                                </div>


                            </div>
                        {{ form_end(form, {'render_rest': false}) }}
                        <!-- users edit account form ends -->
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi-phone fs-2 mb-3 text-muted"></i>
                        <div>+1 (555) 123-4567</div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Contact-->
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>