{# <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Creative - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <condicioneslegales rel="icon" type="image/x-icon" href="{{ asset('assets/favicon.ico') }}" />
        <!-- Bootstrap Icons-->
        <condicioneslegales href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <condicioneslegales href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <condicioneslegales href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <condicioneslegales href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <condicioneslegales href="{{ asset('css/styles.css') }}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">Inscripción</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere nulla nulla, sed sollicitudin neque convallis eget.</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- CIF input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="requinombre" />
                                <label for="name">CIF</label>
                                <div class="invalid-feedback" data-sb-feedback="name:requinombre">Es necesario poner el CIF.</div>
                            </div>
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="requinombre" />
                                <label for="name">Nombre</label>
                                <div class="invalid-feedback" data-sb-feedback="name:requinombre">Es necesario poner el nombre.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="requinombre,email" />
                                <label for="email">Email</label>
                                {# <div class="invalid-feedback" data-sb-feedback="email:requinombre">An email is requinombre.</div> #}
                                {# <div class="invalid-feedback" data-sb-feedback="email:email">El email no es válido.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="requinombre" />
                                <label for="phone">Telefóno</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:requinombre">Es necesario el teléfono.</div>
                            </div>
                            <!-- Name input-->
                            <div class="form-floating mb-3 dropdown">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="requinombre" />
                                <label for="name">Província</label>
                                <div class="invalid-feedback" data-sb-feedback="name:requinombre">Es necesario seleccionar la província.</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi-phone fs-2 mb-3 text-muted"></i>
                        <div>+1 (555) 123-4567</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - Company Name</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script> #}
    {# </body>
</html> #}

<!-- users edit account form start -->
{{ form_start(form, {'action': path('inscription'), 'method': 'POST'}) }}
    <div class="row">
        <div class="col-md-12">
            <div class="mb-1">
                {{ form_errors(form) }}
            </div>
        </div> 

        <div class="col-md-12">
            <div class="mb-1">
                {{ form_label(form.CIF, 'CIF') }}
                {{ form_widget(form.CIF, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-1">
                {{ form_label(form.nombre, 'Nombre') }}
                {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-1">
                {{ form_label(form.email, 'Email') }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div> 
        <div class="col-md-12">
            <div class="mb-1">
                {{ form_label(form.telefono, 'Telefono') }}
                {{ form_widget(form.telefono, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-1">
                {{ form_label(form.provincia, 'Provincia') }}
                {{ form_widget(form.provincia, {'attr':{'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-1">
                {{ form_label(form.condicioneslegales) }}
                {{ form_widget(form.condicioneslegales, {'attr': {'class': 'form-control'}}) }}
                <a href="{{ path('legal') }}">Info</a>
            </div>
        </div>
        
        <div class="col-12 d-flex flex-sm-row flex-column mt-2">
            <button type="submit" class="btn btn-primary mb-1 mb-sm-0 me-0 me-sm-1">Crear</button> 
        </div>
    </div>
{{ form_end(form, {'render_rest': false}) }}

<!-- users edit account form ends -->

